*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: arial;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    background: #1d1e20;
    
    
}
.menu {
    display: flex;
}
.menu li {
    margin-left: 10px;
}
.menu li a {
    display: block;
    
}
#banner {
    background: url('../img/banner.jpg');
    background-size: cover;
	background-position: 0 55%;
	position: relative;
	padding: 350px;
}
.header a:hover{
    color: red;
}
.texto{
    background: rgb(161, 4, 4);
    color: white;
    padding: 20px;
    padding-left: 30px;
}
.cotacao{
    margin-top: 90px;
    display: flex;
  justify-content: center;
}
.p{
    margin-top: 60px;
    text-align: center;
    font-weight: 700;
}
.card{
    margin-left: 15px;
}
.icon{
   margin-left: 100px;
}
.h3{
    font-size: 24px;
    text-align: center;
    margin-top: 35px;
}
.h2{
    font-size: 18px;
    text-align: center;
    margin-top: 18px;

}
.cab{
    text-align: center;
}
.m{
    
}
.cota{
    background: #1d1e20;
    padding: 50px;
    margin-top: 100px;
}
.a{
    width: 350px;
}
span{
    color: white;
    font-size: 15px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.resul{
    margin-left: 50px;
    margin-top: -40px;
}
small{
    color: white;
    font-size: 15px;
}
.text{
    font-size: 20px;
}
.footer{
    background: #1d1e20;
    margin-top: 100px;
    padding: 100px;
}
.footer p {
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    font-size: 1.2rem;

}
.input{
    width: 100%;
    width: 500px;
}
.contact h2{
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}
.button{
    width: 100%;
    width: 500px;
    background-color: red; 
    color: white;
}
.l{
    width: 100%;
    width: 500px;
    height: 150px;
}